<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238445307137-aooi9b40qvqtrnmhmvtnet8cn6qs1fgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238445307137-aooi9b40qvqtrnmhmvtnet8cn6qs1fgn</string>
	<key>API_KEY</key>
	<string>AIzaSyAYTLgv3df0MGJhNrRuVX3sqGls6MqIC8M</string>
	<key>GCM_SENDER_ID</key>
	<string>238445307137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.multiqos.MoodTrackingSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>analyticsexample-9331b</string>
	<key>STORAGE_BUCKET</key>
	<string>analyticsexample-9331b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238445307137:ios:4e931b8d9564d5a6ba6700</string>
</dict>
</plist>